.deliveryTitle{
    text-align: left;
    font-size: 3rem;
    margin: 40px;
}
.deliveryWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "address delivery"
        "map delivery";
}
.deliveryWrapper h4{
    font-size: 2rem;
}

.deliveryAddress{
    grid-area: address;
    margin: 0 30px 20px;
    text-align: left;
    min-height: 150px;
    padding: 20px 60px 32px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 32px rgb(34 0 0 / 12%);
}
.deliveryAddress p{
    color: #8b8b8b;
}
.deliveryMap{
    grid-area: map;
    margin: 20px 30px 50px;
    text-align: left;
    min-height: 250px;
    padding: 30px 60px 32px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 32px rgb(34 0 0 / 12%);
}

.deliveryTerm{
    grid-area: delivery;
    position: relative;
    background: linear-gradient(323deg, #ffd304 2.58%, #bc0f7ff7 99.50%);
    color: #fff;
    margin: 0px 30px 50px;
    text-align: left;
    min-height: 250px;
    padding: 30px 60px 32px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 32px rgb(34 0 0 / 12%);
}

.deliveryMapWrapper{
    width: 100%;
    height: 100%;
}

.deliveryTerm p{
    font-size: 1.5rem;
}
.icon{
    transition: 0.8s;
}
.icon:hover{
    transform: scale(1.2);
}

.imageBox{
    position: absolute;
    left: 50%;
    width: 350px;
    height: 396px;
}