.aboutCompanyTitle{
    text-align: left;
    color: black;
    font-size: 3rem;
    margin: 40px;
}

.aboutCompany{
    display: flex;
    justify-content: space-around;
}

.payTermTitle{
    text-align: left;
    color: black;
    font-size: 2rem;
    margin: 40px;
    margin-bottom: 60px;
}

.payTermTitle h4{
    margin-bottom: 50px;;
}


.payTermList{
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: pointer;
}

.payTermList li {
    font-size: 1.4rem;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #f2f2f2;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    cursor: pointer;
}
.payTermList li:hover {
    background: #E9E4E0;
}
.payTermList li:hover:before {
    transform: rotate(360deg);
}
.payTermList li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}


